.tinv-wishlist{
  .wishlist_item{
    @apply border border-gray-10 mb-4 sm:border-none;
  }
  .product-price{
    @apply font-oswald;
    .amount{
      @apply text-black-10 block  font-normal text-sm sm:text-xl uppercase;
    }
    .regular-price .amount{
      @apply text-gray-30 font-medium text-xs line-through inline-block;
    }
    .discount-percent{
      @apply text-white-30 text-xs px-2 py-1 leading-tight font-medium inline-block bg-black-20 rounded-[2px];
    }
    .price-range{
      .amount{
        @apply text-[10px] sm:text-sm leading-none;
      }
    }
  }
}
.woocommerce .tinv-wishlist .product-remove button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 auto;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: #f7f7f7;
  color: #000;
  font-size: 20px;
  padding-left: 1px;
  padding-top: 3px;
  min-height: 0;
}
.woocommerce .tinv-wishlist tfoot .tinvwl-to-right{
  width: 100%;

}
.woocommerce  .tinv-wishlist .product-action .button{
  font-size: 12px;
  padding: 6px 10px;
}
.woocommerce form{
  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"],
  input[type="number"],
  input[type="tel"],
  input[type="range"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="color"],
  textarea {
    @apply px-0.5 py-1.5  text-xs w-full text-black-10 inline-block font-medium font-oswald bg-transparent border-b focus:border-black-20;
  }
  textarea{
    @apply h-[42px] resize-none ;
  }
  input::placeholder {
    @apply text-xs text-black-10 ;
  }

  input:-webkit-autofill {
    background-color: transparent !important;
  }
  select{
   @apply bg-transparent block w-full text-black-10 text-xs border-b py-0.5;
  }
  button.button,
  .woocommerce-Button.button,
  button:not(.show-password-input),
  input[type="button"],
  input[type="submit"] {
    @apply w-full cursor-pointer px-6 py-2.5 border border-black-10 bg-black-10 text-white-10 uppercase inline-block  text-base font-medium font-oswald transition ease-in-out duration-500;
    &.disabled{
      @apply cursor-none opacity-70 pointer-events-none;
    }
    &.wc-variation-selection-needed{
      @apply cursor-pointer opacity-100 pointer-events-auto;
    }
  }
  button[name="woocommerce_checkout_place_order"]{
   @apply w-auto;
  }


  //button:active,
  //button:focus,
  button.button:hover,
  .woocommerce-Button.button:hover,
  button:hover,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:hover,
  //input[type="submit"]:focus
   {
    @apply bg-transparent text-black-20;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    outline: none;
    @apply border-black-10;
  }

   label{
     font-weight: 400;
     font-size: 12px;
     line-height: 133%;
     letter-spacing: -0.02em;
     color: #777777;
     .optional{
      @apply hidden;
     }
   }
}

.woocommerce-form-login, .woocommerce-ResetPassword{
  @apply flex flex-col;
  .targetvr-row-phone{
    @apply order-2 mt-10;
  }
  *{
    margin-bottom: 10px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}